@import "variables";
@import "mixins";

.logo {
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  cursor: pointer;
  outline: none;

  @include media-md {
    height: 50px;
    width: 50px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
