<section class="sorting sorting--{{isOpen ? 'open' : 'closed'}}">
  <div class="sorting__wrapper">
    <div class="sorting__form">
      <span class="sorting__form-title">Sorting by:</span>

      <div class="sorting__form-control" *ngFor="let item of sortTypes">
        <button
          class="sorting__form-control-btn {{item.isActive ? 'sorting__form-control-btn--active' : ''}} {{item.isActive && item.sortOrder ? 'sorting__form-control-btn--' + item.sortOrder : ''}}"
          (click)="toggleSortType(item.type)">
          {{item.type}}
        </button>

        <mat-icon
          *ngIf="!item.isActive || !item.sortOrder"
          class="sorting__form-control-icon"
          svgIcon="iconSorting"
          aria-hidden="false"
          aria-label="Sorting svg icon">
        </mat-icon>

        <mat-icon
          *ngIf="item.isActive && item.sortOrder"
          class="sorting__form-control-icon"
          svgIcon="iconSortingArrow"
          aria-hidden="false"
          aria-label="Sorting direction svg icon">
        </mat-icon>

      </div>

      <div class="sorting__form-control">
        <span>by word or sentance</span>
        <input
          #input
          [ngModel]="filterBySentence"
          (input)="changeSortBySentence(input.value)"
          class="sorting__form-control-input"
          type="text">
      </div>
    </div>
  </div>
</section>


