<div class="sorting">
  <div class="sorting__wrapper">
    <div class="sorting__form">
      <span class="sorting__form-title">Sorting by:</span>
      <div class="sorting__form-control">
        <button class="sorting__form-control-btn">date</button>
        <mat-icon svgIcon="iconSorting" aria-hidden="false" aria-label="Sorting svg icon"></mat-icon>
      </div>
      <div class="sorting__form-control">
        <button class="sorting__form-control-btn">count of views</button>
        <mat-icon svgIcon="iconSorting" aria-hidden="false" aria-label="Sorting svg icon"></mat-icon>
      </div>
      <div class="sorting__form-control">
        <span>by word or sentance</span>
        <input class="sorting__form-control-input" type="text">
      </div>
    </div>
  </div>
</div>
