@import "variables";
@import "mixins";

.sorting {
  background-color: $c-gray;
  padding-top: 18px;
  padding-bottom: 18px;

  &--open {
    animation: fadeInTop $t-std forwards;
  }

  &__wrapper {
    @include container();

    @include flex($jc: center);
  }

  &__form {
    @include flex();
    width: 570px;
  }

  &__form-title {
    @include font($fs: 12px, $lh: 14px, $c: $c-input-text);
    margin-right: 11px;
  }

  &__form-control {
    @include font($fs: 12px, $lh: 14px, $c: $c-brand);
    @include flex();
    position: relative;

    &:not(:last-child) {
      margin-right: 32px;
    }

    .mat-icon {
      @include absolute($t: 50%, $r: -16px);
      transform: translateY(-50%);
      margin-left: 3px;
      height: 16px;
      width: 16px;
      cursor: pointer;
    }
  }

  &__form-control-btn {
    border: 0;
    padding: 0;
    outline: 0;
    background: transparent;
    @include font($fs: 12px, $lh: 12px, $c: $c-brand);
    position: relative;
    cursor: pointer;

    &--active {
      &:after {
        content: '';
        @include absolute($b: -1px, $l: 0, $r: 0);
        height: 0.5px;
        background: $c-brand;
      }
    }

    &--asc + .sorting__form-control-icon {
      transform: rotate(180deg) translateY(50%);
    }
  }

  &__form-control-icon {
    transition: transform $t-std;
  }

  &__form-control-input {
    margin-left: 10px;
    border: none;
    height: 13px;
    background-color: $c-white;
    outline: none;
    @include font($fs: 10px, $lh: 12px, $c: $c-input-text);
    min-width: 150px;
  }
}

@keyframes fadeInTop {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
