<section class="sorting sorting--{{isOpen ? 'open' : 'closed'}}">
  <div class="sorting__wrapper">
    <div class="sorting__form">
      <span class="sorting__form-title">Sorting by:</span>

      <div
        class="sorting__form-control"
        *ngFor="let currSortType of sortTypes"
        (click)="toggleSortType(currSortType)">
        <button
          class="sorting__form-control-btn {{currSortType === sortType ? 'sorting__form-control-btn--active' : ''}} {{currSortType === sortType && sortOrder ? 'sorting__form-control-btn--' + sortOrder : ''}}"
          >
          {{currSortType}}
        </button>

        <mat-icon
          *ngIf="currSortType !== sortType || !sortOrder"
          class="sorting__form-control-icon"
          svgIcon="iconSorting"
          aria-hidden="false"
          aria-label="Sorting svg icon">
        </mat-icon>

        <mat-icon
          *ngIf="currSortType === sortType && sortOrder"
          class="sorting__form-control-icon"
          svgIcon="iconSortingArrow"
          aria-hidden="false"
          aria-label="Sorting direction svg icon">
        </mat-icon>

      </div>

      <div class="sorting__form-control">
        <span>by word or sentance</span>
        <input
          #input
          [ngModel]="filterBySentence"
          (input)="changeSortBySentence(input.value)"
          class="sorting__form-control-input"
          type="text">
      </div>
    </div>
  </div>
</section>


