<div class="details" *ngIf="isShow">
  <div class="details__item" *ngIf="statistics.viewCount">
    <mat-icon svgIcon="iconViewed" aria-hidden="false" aria-label="View svg icon"></mat-icon>
    <span>{{statistics.viewCount}}</span>
  </div>
  <div class="details__item" *ngIf="statistics.likeCount">
    <mat-icon svgIcon="iconLiked" aria-hidden="false" aria-label="Like svg icon"></mat-icon>
    <span>{{statistics.likeCount}}</span>
  </div>
<!--  There is no dislikes in response -->
<!--  <div class="details__item">-->
<!--    <mat-icon svgIcon="iconDisliked" aria-hidden="false" aria-label="Dislike svg icon"></mat-icon>-->
<!--    <span>{{statistics.dislikeCount}}</span>-->
<!--  </div>-->
  <div class="details__item" *ngIf="statistics.commentCount">
    <mat-icon svgIcon="iconSaved" aria-hidden="false" aria-label="Favorite svg icon"></mat-icon>
    <span>{{statistics.commentCount}}</span>
  </div>
</div>
