@import "variables";
@import "mixins";

.profile {
  @include flex($jc: flex-end);
  height: 100%;

  &__name {
    @include font($fs: 12px, $lh: 14px, $c: $c-text);
    margin-right: 10px;
  }

  &__icon {
    background-color: $c-white;
    border-radius: $br-lg;
  }

  &__login {
    background-color: $c-brand;
    padding: 5px 16px;
    border: none;
    outline: none;
    border-radius: $br-lg;
    cursor: pointer;
    @include font($fs: 12px, $lh: 14px, $c: $c-white);

    @include media-sm {
      padding: 5px 22px;
    }

    @include outline-btn($c-brand);
  }

  &__logout {
    background-color: $c-brand;
    padding: 5px 16px;
    border: none;
    outline: none;
    border-radius: $br-lg;
    cursor: pointer;
    @include font($fs: 12px, $lh: 14px, $c: $c-white);
    margin-left: 8px;

    @include media-sm {
      padding: 5px 22px;
    }

    @include outline-btn($c-brand);
  }
}
