<header class="header">
  <div class="header__wrapper">
    <app-logo class="header__logo header__logo--mob"></app-logo>

    <div class="header__search">
      <app-logo class="header__logo header__logo--desktop"></app-logo>
      <app-search-form (changeInputEvent)="changeSearchQuery($event)"></app-search-form>
      <app-settings-button (toggleEvent)="toggleSorting()" [isShowSorting]="isShowSorting"></app-settings-button>
    </div>

    <app-profile class="header__profile"></app-profile>
  </div>
</header>

