@import "variables";
@import "mixins";

.control {
  padding-bottom: 24px;
  position: relative;

  &__label {
    display: block;
    @include font($fs: 10px, $lh: 12px, $c: $c-label);
    margin-bottom: 4px;
    margin-left: 8px;
  }

  &__input {
    width: 100%;
    height: 36px;
    background-color: $c-input-bg;
    border: none;
    outline: none;
    padding: 12px 8px;
    @include font($fs: 10px, $lh: 12px, $c: $c-black);
    cursor: pointer;
    position: relative;

    @include media-xs {
      width: 304px;
    }

    &::-webkit-calendar-picker-indicator {
      background: transparent;
      bottom: 0;
      color: transparent;
      cursor: pointer;
      height: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
  }

  &__error {
    @include absolute($t: 56px, $l: 8px);
    @include font($fs: 10px, $lh: 12px, $c: $c-red);
    display: block;
  }
}
