// COLORS
$c-gray: #E5E5E5;
$c-input-text: #929292;
$c-input-bg: #EFEFEF;
$c-brand: #2F80ED;
$c-white: #FFFFFF;
$c-text: #4F4F4F;
$c-black: #000000;
$c-red: #EB5757;
$c-green: #27AE60;
$c-yellow: #F2C94C;
$c-gray-bg: #F2F2F2;
$c-input-bg: #E0E0E0;
$c-label: #828282;

$card-shadow: drop-shadow(5px 10px 10px rgba(47, 128, 237, 0.25));

// BORDERS
$br-std: 2px;
$br-lg: 4px;
$br-xl: 5px;

// FONTS
$f-main: 'Roboto', sans-serif;

// TRANSITION
$t-std: 0.2s ease-in-out;
$t-fast: 0.1s ease-in-out;
$t-slow: 0.3s ease-in-out;
$t-all-std: all $t-std;


// OUTLINE
$o-brand: drop-shadow(2px 0px 4px $c-brand);

// MEDIA
$v-xs: 576px;
$v-sm: 768px;
$v-md: 992px;
$v-lg: 1200px;
$v-xl: 1400px;
$v-xxl: 1680px;
