@import "variables";
@import "mixins";

.admin {
  padding: 10px;
  @include flex($jc: center);

  @include media-xs {
    padding: 45px;
  }

  &__success {
    @include font($fs: 16px, $lh: 24px, $c: $c-text);
  }

  &__buttons {
    margin-top: 16px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__button {
    background-color: $c-brand;
    border: none;
    outline: none;
    padding: 4px 8px;
    border-radius: $br-lg;
    cursor: pointer;
    @include flex($jc: center);
    @include font($fs: 10px, $lh: 18px, $c: $c-white);
    @include outline-btn($c-brand);
  }
}

