<div class="admin">
  <app-create-form *ngIf="!isSuccess" (successfulAddedEvent)="onSuccessfulAdded($event)"></app-create-form>
  <div class="admin__success" *ngIf="isSuccess">
    <span class="admin__successMessage">{{successMessage}}</span>
    <div class="admin__buttons">
      <button
        class="admin__button"
       [routerLink]="['/main']"
      >
        To Main
      </button>
      <button
        class="admin__button"
        (click)="resetSuccess()"
      >
        Add new one
      </button>
    </div>
  </div>
</div>
